<div class="container-full" style="margin-top:80px;">
  <div class="container " >
      <div class="col-md-12 fleft width_100 margin_top_30 margin_bottom_30"> 

          <div class="fleft col-md-3 tabs_2 size_20 consult-style">
              <ul class="padding_0">
                  <li>
                      <a href="/fr/a-propos-de-nous" title="Doctori - À propos de nous">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                          À propos de nous
                      </a>
                  </li>
                  <li>
                      <a href="/fr/faq">
                          <span class="glyphicon glyphicon-question-sign" title="Doctori - Foire aux questions" aria-hidden="true"></span>
                          FAQ
                      </a>
                  </li>
                  <li>
                      <a href="/fr/conditions-generales-d-utilisation" title="Doctori - Conditions générales d&#039;utilisation">
                          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                          Conditions générales d&#039;utilisation
                      </a>
                  </li>
                  <li>
                      <a href="/fr/politique-de-confidentialite" title="Doctori - Politique de confidentialité">
                          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                          Politique de confidentialité
                      </a>
                  </li>
                  <li>
                      <a href="/fr/nous-contacter" title="Doctori - Contactez-nous">
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          Nous contacter
                      </a>
                  </li>
                  <li>
                      <a href="/fr/offres-d-emploi" title="Doctori - Offres d&#039;emploi">
                          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                          Offres d&#039;emploi
                      </a>
                  </li>

              </ul>
          </div>

          <div class="col-md-9  body_right_page">


              <h1 class="h1_title tleft">Contactez-nous</h1>

              <form action="" method="post" id="contactForm">

                  <table class="form_tab3">

                      <div class="form_tab_contact">

                          <label class="extralight size_17 label_radio pointer note-success msg_t_1 alert-bug" id="alertWrapper" style="display:none"></label>

                          <div class="col-sm-6">
                              <input type="text" name="lastname" id="lastname" class="input_1" placeholder="Nom *" >
                          </div>
                          <div class="col-sm-6">
                              <input type="text" name="firstname" id="firstname" class="input_1" placeholder="Prénom *" >
                          </div>

                          <div class="col-sm-6">
                              <input type="email" name="email" id="email" class="input_1" placeholder="Adresse email *" >
                          </div>
                          <div class="col-sm-6">
                              <input type="text" name="mobile" id="mobile" class="input_1" placeholder="N° de téléphone mobile *" >
                          </div>
                          <div class="col-sm-6">
                          </div>
                          <div class="col-sm-12">
                              <textarea name="message" id="message" placeholder="Votre commentaire *" rows="4"  class="textarea_2 paddgin_top_20_impo width_100"></textarea>
                          </div>

                          <div class="g-recaptcha col-sm-6" data-sitekey="6LcXdjQUAAAAALNhryt4_2RQpJ7OwrREDdu1wXAt"></div>
                           
                          <div class="col-sm-6">
                              <button type="submit" class="btn_1 margin_top_30 pull-right" id="submitContactForm">Envoyer</button>
                          </div>

                      </div>


                  </table>
              </form>


          </div>
      </div>
  </div>
</div>
<!-- contenu -->