<div class="container_search_praticen">
  <div class="container theme-showcase " role="main">
      <div class="block_recherch fleft"  > 
          <div class="div_title_search_praticen">
              <h1 class="dosisbold size_74">
                  <span class="extralight"> Vous êtes</span> médecin ?
              </h1>
              <p class="">Optimisez la gestion de votre cabinet pour gagner en productivité!</p>
          </div>

          <div class="bg_search_box_praticen">

              <div class="width_94" style="margin-left: -15px; margin-right: -15px; position: relative;">

                  <label class="extralight size_17 label_radio pointer note-success msg_t_1 alert-bug" style="display:none">
                  </label>
                  
                  
                  
              </div>

              <div class="box_form_header">
                  <form action="/fr/docteur-rejoignez-doctori" class="form_recherche_praticen index_search" method="post" id="registerForm">
                      <input type="hidden" name="_csrf_token" value="Q2_eSFt_RqHTEB5GFRKjP1CQWLAd8E_7jnGnKFZrrpk">

                      <input type="text" name="lastname" id="lastname" class="input_text input_text_fname" placeholder="Nom *">
                      <input type="text" name="firstname" id="firstname" class="input_text input_text_lname" placeholder="Prénom *">
                      <input type="text" name="email" id="email" class="input_text" placeholder="Adresse email *">
                      <input type="text" name="mobile" id="mobile" class="input_text">

                      <select name="specialities[]" id="specialities" placeholder="Spécialités *" class="multipleSelect input_text" multiple>
                                                              <option value="1">Orthodontiste</option>
                                                              <option value="2">Psychiatre</option>
                                                              <option value="3">Cardiologue</option>
                                                              <option value="4">Chirurgien digestif - viscéral</option>
                                                              <option value="5">Opticien</option>
                                                              <option value="6">Gastrologue entérologue</option>
                                                              <option value="7">Chirurgien général</option>
                                                              <option value="8">Chirurgien dentiste</option>
                                                              <option value="9">Kinésithérapeute</option>
                                                              <option value="10">Urologue et chirurgien urologue</option>
                                                              <option value="11">Oto-rhino-laryngologue</option>
                                                              <option value="12">Endocrinologue - maladies métaboliques</option>
                                                              <option value="13">Ophtalmologue</option>
                                                              <option value="14">Ostéopathe</option>
                                                              <option value="15">Gériatre</option>
                                                              <option value="16">Chirurgien esthétique</option>
                                                              <option value="17">Dermatologue</option>
                                                              <option value="18">Pédiatre</option>
                                                              <option value="19">Gynécologue obstétricien</option>
                                                              <option value="20">Anatomo-pathologiste</option>
                                                              <option value="21">Rhumatologue</option>
                                                              <option value="22">Orthophoniste</option>
                                                              <option value="23">Médecin généraliste</option>
                                                              <option value="24">Psychologue</option>
                                                              <option value="25">Nutritionniste</option>
                                                              <option value="26">Médecin interne</option>
                                                              <option value="27">Infirmier</option>
                                                              <option value="28">Chirurgien cardio-vasculaire</option>
                                                              <option value="29">Pneumologue</option>
                                                              <option value="30">Neurochirurgien</option>
                                                              <option value="31">Chirurgien orthopédiste et traumatologue</option>
                                                              <option value="32">Neuropsychiatre</option>
                                                              <option value="33">Génétique médicale</option>
                                                              <option value="34">Sexologue</option>
                                                              <option value="35">Neurologue</option>
                                                              <option value="36">Médecin biologiste</option>
                                                              <option value="37">Stomatologue et chirurgien maxillo-faciale</option>
                                                              <option value="38">Gynécologue sexologue</option>
                                                              <option value="39">Cancérologue</option>
                                                              <option value="40">Algologue</option>
                                                              <option value="41">Chirurgien réparateur et plastique</option>
                                                              <option value="42">Allergologue</option>
                                                              <option value="43">Médecin sportif</option>
                                                              <option value="45">Néphrologue</option>
                                                              <option value="46">Chirurgien pédiatre</option>
                                                              <option value="47">Médecin physique et réadaptation fonctionnelle</option>
                                                              <option value="48">Gérontologue</option>
                                                              <option value="49">Podologue</option>
                                                              <option value="50">Chirurgien hépato-biliaire et digestive</option>
                                                              <option value="51">Oncologue médicale</option>
                                                              <option value="52">Médecin légal et de travail</option>
                                                              <option value="53">Pédodontiste</option>
                                                              <option value="54">Acupuncteur</option>
                                                              <option value="55">Radiothérapeute</option>
                                                              <option value="56">Angiologue</option>
                                                              <option value="58">Médecin morphologique et anti-âge</option>
                                                              <option value="59">Diététicien</option>
                                                              <option value="60">Radiologue</option>
                                                              <option value="61">Psychomotricité</option>
                                                              <option value="63">Chirurgien cancérologue</option>
                                                              <option value="64">Anesthésiste-réanimateur</option>
                                                              <option value="65">Médecine nucléaire</option>
                                                              <option value="66">Homéopathe</option>
                                                              <option value="69">Orthopédiste dento-faciale</option>
                                                              <option value="70">Pharmacologue</option>
                                                              <option value="72">Parodontologue</option>
                                                              <option value="73">infectiologue</option>
                                                              <option value="74">Odontologue chirurgicale</option>
                                                              <option value="75">Chirurgien thoracique</option>
                                                              <option value="76">Biologiste vétérinaire</option>
                                                              <option value="77">Réanimateur </option>
                                                              <option value="78">Autre</option>
                                                              <option value="79">Médecin urgentiste</option>
                                                      </select>

                      <input type="text" name="practitionerCity" id="practitionerCity" class="input_text" placeholder="Ville *">
                      <input type="hidden" name="city" id="city">
                      <input type="hidden" name="lat" id="lat">
                      <input type="hidden" name="lng" id="lng">

                      <script>
                          var fastSelectInstance = $('.multipleSelect').fastselect({

                              maxItems: 4,

                              onItemSelect: function() {
                                  fastSelectInstance.hide()
                              },

                              onMaxItemsReached: function() {
                                  fastSelectInstance.hide()
                              }

                          }).data('fastselect');
                      </script>

                      <input type="submit" id="submitForm" class="submit_btn_searsh_praticen" value="Obtenir plus d&#039;informations"/>

                  </form>
              </div>
          </div>

      </div>       
  </div>
</div>
  <!-- Block Searsh -->



<div class="section_block_2">
  <div class="container theme-showcase " role="main">

      <div class="doctor_title"><h1 class="md_title"><span>Pourquoi rejoindre</span> Doctori ?</h1></div>

      <div class="row reasons_items">
          <div class="item_block_2 ">
              <a href="#" class="box_entent">
                  <div class="icon icon-1"></div>
                  <div class="title">
                      <span>Renforcer votre <br> présence sur le web</span>
                  </div>
              </a>
          </div>
          <div class="item_block_2">
              <a href="#" class="box_entent">
                  <div class="icon icon-2"></div>
                  <div class="title">
                      <span>Gérer votre cabinet <br> en toute simplicité</span>
                  </div>
              </a>
          </div>
          <div class="item_block_2">
              <a href="#" class="box_entent">
                  <div class="icon icon-3"></div>
                  <div class="title">
                      <span>Réduire <br> les rendez-vous <br> non honorés</span>
                  </div>
              </a>
          </div>
          <div class="item_block_2">
              <a href="#" class="box_entent">
                  <div class="icon icon-4"></div>
                  <div class="title">
                      <span>Fidéliser <br> vos patients</span>
                  </div>
              </a>
          </div>
      </div>
           
  </div>
</div>


<div class="section_medecin_doctori  section_video_praticen">
  <div class="container theme-showcase " role="main">

      <div class="row">
          
          <div class="div_doctor_praticen">
               <h2 class="md_title color_red">Doctori <span>en vidéo!</span></h2>
               <div class="video_box">
                  <a href="https://www.youtube.com/watch?v=h_Wlw9McOlY" data-lity><img src="/assets/bundles/front/v2/images/play.png?v=1.0.4" alt="Doctori en vidéo!" class="play_icon"></a>
               </div>
          </div>
          
      </div>
           
  </div>
</div>
<!-- contenu -->