<div class="container_search">
  <div class="container theme-showcase " role="main">
      <div class="block_recherch fleft"> 
          <div class="div_title_search">
              <h1 class="dosisbold size_74">
                  Oups ! <span class="extralight">La page demandée n&#039;existe pas</span>
              </h1>
              <p class="">La page demandée est temporairement indisponible ou l&#039;url saisi est incorrecte.</p>
              <div class="text_center width_100 fleft">
                  <br>
                  <a href="/fr/" class="blanc">
                      Retour à la page d&#039;accueil
                  </a>
              </div>
          </div>
      </div>       
  </div>
</div>
