<!--The whole content below can be removed with the new code.-->
<div class="top-container">

  <!-- header -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="pull-left logo_nav">
        <a href="/fr/" class="">
            <img src="/assets/bundles/front/v2/images/logo.svg?v=1.0.4" alt="logo Doctori" class="logo_nav_fix" title="logo Doctori">
        </a>
    </div>

    <div class="header_right">                                            
        <a aria-label="mobile menu" class="show_hidde_menu"><span></span><span></span><span></span> </a><!-- nav-toggle -->
        <ul class="menu-left">
            <li><a href="/fr/identification" class="link_account" title="Se connecter à Doctori">Mon compte</a></li>
            <li><a href="/fr/docteur-rejoignez-doctori" class="link_practitioner" title="Créer votre compte médecin chez Doctori">Vous êtes médecin ?</a></li>
        </ul>
    </div>
    </div>
  </nav>
  <!-- end header -->

  <router-outlet></router-outlet>
  <!-- <ngx-intl-tel-input [(value)]="phone_number"></ngx-intl-tel-input> -->
  
  <!-- footer -->
    
  <div class="section_contact_us">
    <div class="container ">
         
        <div class="number_div">
            <img src="/assets/bundles/front/v2/images/phone.svg?v=1.0.4" alt="téléphone icon" title="téléphone icon" class="icon_tel">
            <span class="phone_number">05 28 82 87 78</span>
        </div>

        <div class="messages_phone">
            <p>Un problème, une question ? Appelez-nous ou contactez-nous par
                <a class="" href="/fr/nous-contacter" title="Pour plus d&#039;informations ou en cas de problèmes, merci de nous envoyer un email">
                    email</a>
            </p>
        </div>
     
    </div>
</div>

<div class="section_footer_top">
    <div class="container footer_top">
        <div class="item_block_2">
                                            <span class="footer_title">Doctori</span>
            <ul class="ul_menu">
                <li><a href="/fr/inscription" title="Inscrivez vous et prenez votre rendez vous en ligne chez votre médecin - Doctori">S&#039;inscrire</a></li>
                <li><a href="/fr/docteur-rejoignez-doctori" title="Rejoignez nous et simplifiez la gestion de votre cabinet - Doctori">Dentiste ou médecin : rejoignez-nous !</a></li>
                                                        <li><a href="/fr/a-propos-de-nous" title="À propos de nous - Doctori">À propos de nous</a></li>
                <li><a href="/fr/faq" title="Foire aux questions - Doctori">FAQ</a></li>
                <li><a href="/fr/conditions-generales-d-utilisation" title='Conditions générales d&#039;utilisation - Doctori'>Conditions générales d&#039;utilisation</a></li>
                <li><a href="/fr/politique-de-confidentialite" title="Politique de confidentialité - Doctori">Politique de confidentialité</a></li>
                <li><a href="/fr/nous-contacter" title="Contactez-nous - Doctori">Nous contacter</a></li>
                <li><a href="/fr/offres-d-emploi" title='Offres d&#039;emploi - Doctori'>Offres d&#039;emploi</a></li>
                <li><a href="/fr/espace-medecin" title="Espace docteur - Doctori">Espace docteur</a></li>
            </ul>
        </div>
        
                                 
        <div class="item_block_2 no_padding_mobile">
            <span class="footer_title">Recherches fréquentes</span>
            <ul class="ul_menu">
                                                                                                    <li>
                                <a href="/fr/medecin/medecin-generaliste/agadir" title="Doctori - Trouvez un Médecin Généraliste à Agadir">
                                    Médecin Généraliste Agadir
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/medecin-generaliste/casablanca" title="Doctori - Trouvez un Médecin Généraliste à Casablanca">
                                    Médecin Généraliste Casablanca
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/medecin-generaliste/fes" title="Doctori - Trouvez un Médecin Généraliste à Fès">
                                    Médecin Généraliste Fès
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/medecin-generaliste/tanger" title="Doctori - Trouvez un Médecin Généraliste à Tanger">
                                    Médecin Généraliste Tanger
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/medecin-generaliste/oujda" title="Doctori - Trouvez un Médecin Généraliste à Oujda">
                                    Médecin Généraliste Oujda
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/pediatre/agadir" title="Doctori - Trouvez un Pédiatre à Agadir">
                                    Pédiatre Agadir
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/urologue-et-chirurgien-urologue/agadir" title="Doctori - Trouvez un Urologue Et Chirurgien Urologue à Agadir">
                                    Urologue Et Chirurgien Urologue Agadir
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/chirurgien-general/agadir" title="Doctori - Trouvez un Chirurgien Général à Agadir">
                                    Chirurgien Général Agadir
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/cardiologue/agadir" title="Doctori - Trouvez un Cardiologue à Agadir">
                                    Cardiologue Agadir
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/chirurgien-orthopediste-et-traumatologue/agadir" title="Doctori - Trouvez un Chirurgien Orthopédiste Et Traumatologue à Agadir">
                                    Chirurgien Orthopédiste Et Traumatologue Agadir
                                </a>
                            </li>
                                                                                                                                                        <li>
                                <a href="/fr/medecin/ophtalmologue/agadir" title="Doctori - Trouvez un Ophtalmologue à Agadir">
                                    Ophtalmologue Agadir
                                </a>
                            </li>
                                                                                    </ul>
        </div>

        <div class="item_block_2">
            <span class="footer_title no_title"></span>
            <ul class="ul_menu">
                                                                                                    <li>
                                <a href="/fr/medecin/medecin-generaliste/rabat" title="Doctori - Trouvez un Médecin Généraliste à Rabat">
                                    Médecin Généraliste Rabat
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/gynecologue-obstetricien/agadir" title="Doctori - Trouvez un Gynécologue Obstétricien à Agadir">
                                    Gynécologue Obstétricien Agadir
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/chirurgien-dentiste/agadir" title="Doctori - Trouvez un Chirurgien Dentiste à Agadir">
                                    Chirurgien Dentiste Agadir
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/chirurgien-dentiste/rabat" title="Doctori - Trouvez un Chirurgien Dentiste à Rabat">
                                    Chirurgien Dentiste Rabat
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/gynecologue-obstetricien/casablanca" title="Doctori - Trouvez un Gynécologue Obstétricien à Casablanca">
                                    Gynécologue Obstétricien Casablanca
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/chirurgien-dentiste/casablanca" title="Doctori - Trouvez un Chirurgien Dentiste à Casablanca">
                                    Chirurgien Dentiste Casablanca
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/gynecologue-obstetricien/al-hoceima" title="Doctori - Trouvez un Gynécologue Obstétricien à Al Hoceïma">
                                    Gynécologue Obstétricien Al Hoceïma
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/medecin-generaliste/khouribga" title="Doctori - Trouvez un Médecin Généraliste à Khouribga">
                                    Médecin Généraliste Khouribga
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/medecin-generaliste/settat" title="Doctori - Trouvez un Médecin Généraliste à Settat">
                                    Médecin Généraliste Settat
                                </a>
                            </li>
                        
                                                                                                                                <li>
                                <a href="/fr/medecin/medecin-generaliste/sale" title="Doctori - Trouvez un Médecin Généraliste à Salé">
                                    Médecin Généraliste Salé
                                </a>
                            </li>
                        
                                                            </ul>
        </div>

        <div class="item_block_2">
            <span class="footer_title">trouver un docteur</span>
            <ul class="ul_menu">
                <li><a href="/fr/rechercher-par-nom">Par nom</a></li>
                <li><a href="/fr/rechercher-par-ville">Par ville ou quartier</a></li>
            </ul>
            <br><br>
            <span class="footer_title">Nous suivre sur</span>
            <ul class="rs">
                                    <li><a href="https://www.facebook.com/Doctorimaroc" title="Page facebook Doctori" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/Doctorimaroc" title="Account twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCG5NYtMNRsVDBIi4q_7PVcA?view_as=subscriber" title="Doctori Channel" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>

                                                                                                
            <a href="https://www.doctori.ma/ar/" class="switch_launge" id="switchLanguageToAr">دكتوري بالعربية</a>


        </div>

    </div>
</div>

<div class="section_footer_center">
    <div class="container footer_top">
         <h2>Difficile de trouver un RDV de médecin ?</h2>
                      <p>
            Doctori est un outil innovant qui vous permet de trouver rapidement un médecin en ligne et de prendre RDV en temps réel. Retrouvez les praticiens de votre ville et prenez rendez-vous gratuitement et en un seul clic. Sur Doctori, repérez un médecin à proximité de chez vous, trouvez toutes les informations utiles : spécialités, informations d’accès, tarifs de consultation, choisissez le créneau qui vous convient et prenez RDV en ligne gratuitement et immédiatement. Dentistes, généralistes, ophtalmologues… : Plus besoin d’appels et d’attente. Votre prise de RDV est à présent simple, rapide et efficace.
         </p>
    </div>
</div>


<div class="section_copyrights">
    <div class="container footer_top">
         <p>
            © Copyrights Doctori 2018 - Tous droits réservés.
         </p>
    </div>
</div>

    <!-- end footer -->
</div>

