<div class="identification-section">

  <div class="col-md-5 col-xs-12">
    <h1>Pas encore de compte ?</h1>
    <p class="description_inscription">Inscrivez-vous pour prendre RDV en ligne avec votre praticien en 1 clic !</p>
    <div class="register-button">
        <button onclick="window.location.href='/fr/inscription'" class="btn btn-primary" style="max-width: 100%">
            <span class="">S&#039;inscrire</span>
        </button>
    </div>
 </div>

  <div class="col-md-2 hidden-sm hidden-xs">
    <div style="width:1px; height:350px; background-color: #dcddde; margin:20px auto;"></div>
  </div>

  <div class="col-md-5 col-xs-12">
    <h1 class="login-textc">Mon compte</h1>
    <form>
      <div class="form-group">
        <input type="email" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" class="form-control">
      </div>
      <a href="#0" class="forgot-password" id="iForgotThePassword">Mot de passe oublié ?</a>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
 </div>

</div>