<!-- Block Searsh -->
<div class="container_search">
    <div class="container theme-showcase" role="main">
        <div class="block_recherch fleft"> 
            <div class="div_title_search">
                <h1 class="dosisbold size_74">
                    <span class="extralight">Trouvez</span>un médecin
                </h1>
                <p class="">Près de chez vous et prenez rendez-vous en ligne</p>
            </div>

            <div class="bg_search_box">
                <div class="box_form_header">

                    <form class="form_recherche index_search" method="POST" action="/fr/" >
                                                    
                        <!-- NEW INPUT FOR SEARCH -->
                        <div class="div_input_search">
                            <input type="text" class="input_doctor_search hide2"  name="searchEngine" autocomplete="off" id="searchEngine" placeholder="Médecin, spécialité…" />
                            <div class="input_loading ld-ext-right">
                                <div class="ld ld-ring ld-spin"></div>
                            </div>
                            <span class="tool" id="specialityTooltip" data-tip="Veuillez compléter ce champ" tabindex="2">.</span>
                            <div class="resulte_ajax_serch">
                                                                </div>
                        </div>
                        <!-- NEW INPUT FOR SEARCH -->

                        <input type="hidden" name="specialite" id="specialite">
                        <input type="hidden" name="speciality_slug" id="specialitySlug">


                        <div class="div_input_search">
                            <input type="text" class="input_ville_search hide2"  name="ville" autocomplete="off" id="suggested_names" placeholder="Où? (adresse, ville...)"   />
                            <span class="tool" id="cityTooltip" data-tip="Veuillez compléter ce champ" tabindex="2">.</span>
                            <button type="button" class="localization-icon localization-icon-gray" id="localizationIcon">
                                <span class="tool" id="specialityTooltip_localisation" data-tip="Autour de moi" tabindex="2">.</span>
                            </button>
                        </div>
                       
                                                    <button type="submit" class="submit_btn_searsh ld-ext-right" id="search">
                            Rechercher <div class="ld ld-ring ld-spin"></div>
                        </button>
                       
                    </form>
                </div>
            </div>
        </div>       
    </div>
</div>
<!-- Block Searsh -->

<div class="section_block_2">
    <div class="container theme-showcase" role="main">

        <div class="row">
            <div class="item_block_2">
                <a href="#" class="box_entent">
                    <div class="icon icon-1"></div>
                    <div class="title">
                        <span>Choisissez votre médecin</span>
                    </div>
                </a>
            </div>
            <div class="item_block_2">
                <a href="#" class="box_entent">
                    <div class="icon icon-2"></div>
                    <div class="title">
                        <span>Prenez rendez-vous en ligne 24h/24</span>
                    </div>
                </a>
            </div>
            <div class="item_block_2">
                <a href="#" class="box_entent">
                    <div class="icon icon-3"></div>
                    <div class="title">
                        <span>Obtenez votre espace patient dédié</span>
                    </div>
                </a>
            </div>
            <div class="item_block_2">
                <a href="#" class="box_entent">
                    <div class="icon icon-4"></div>
                    <div class="title">
                        <span>Un service <br> 100% Gratuit</span>
                    </div>
                </a>
            </div>
        </div>
             
    </div>
</div>

<div class="section_medecin_doctori ">
    <div class="container theme-showcase " role="main">

        <div class="row">
            <div class="div_medecin">
                 <h2 class="md_title"><span>Vous êtes</span> Médecin ?</h2>
                 <div class="medecin_box">

                     <p>
                        s&#039;inscrire sur Doctori,<br>
                        est la meilleure façon de développer<br>
                        l&#039;activité de votre cabinet
                     </p>
                     <a href="/fr/docteur-rejoignez-doctori" class="rejoin_link">Rejoindre Doctori</a>
                 </div>
            </div>
            <div class="div_doctor">
                 <h2 class="md_title">Doctori <span>en vidéo!</span></h2>
                 <div class="video_box">
                    <a href="https://www.youtube.com/watch?v=h_Wlw9McOlY" class="gtm-video-homepage" data-lity><img src="/assets/bundles/front/v2/images/play.png" alt="Doctori en vidéo !" title="Doctori en vidéo !" class="play_icon"></a>
                 </div>
            </div>
            
        </div>
             
    </div>
</div>
